.footer {
    background-color: var(--color-dark-grey);
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    border-top: 1px solid var(--color-light-grey);
    letter-spacing: 1px;
}

.footer p {
    font-size: var(--font-size-footer);
}