.team-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem 2rem 2rem;
    background-color: var(--color-white);
    border-radius: var(--radius-default);
    border: 5px solid var(--team-color);
    width: 26rem;
    margin: 1rem;
}

.title-card {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--color-primary-red);
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.2em;
    padding: 1rem;
    color: var(--color-background);
    font-size: var(--font-size-h1);
}

.favorite-label {
    color: var(--color-background);
    font-weight: var(--font-weight-semi-bold);
    text-align: center;
    padding: 0.5rem;
}

.team-name-box {
    margin-bottom: 1rem;
}

.team-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.constructor-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.team-drivers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}