.personal-info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-white);
    color: var(--color-background);
    border: 3px solid var(--color-primary-red);

}

.personal-info-section h3 {
    margin-top: 0;
}

.info-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.5rem 1rem;
}

.info-label {
    font-weight: bold;
    text-transform: uppercase;
}

.info-value {
    padding-left: 1rem;
}