.personal-info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-white);
    color: var(--color-background);
    border: 3px solid var(--color-primary-red);
}

.info-row {
    display: grid;
    grid-template-columns: 180px auto;
    padding: 0.5rem 1rem;
}

.info-label {
    font-weight: bold;
    text-transform: uppercase;
}

.info-value {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}