.driver-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    min-width: 8rem;
    background-color: var(--team-color);
    border-radius: var(--radius-default);

}

.driver-name {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-semi-bold);
    margin-top: 0.3rem;
}