.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-label {
    text-transform: uppercase;
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-semi-bold);
}

.input-field {
    width: 22rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border: 3px solid var(--color-light-grey);
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-semi-bold);
    background-color: var(--color-white);
}

.input-field:focus {
    outline: none;
    border-color: var(--color-primary-red);
}