.title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--color-primary-red);
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.2em;
    padding: 0.5rem;
}