.all-teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-light-grey);
    padding: 1rem;
}

.title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--color-primary-red);
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.2em;
    padding: 1rem;
}

.all-drivers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}