.stats-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: var(--font-weight-bold);
    background-color: var(--team-color);
    border-color: var(--team-color);
}

.size-50 {
    width: 50px;
    height: 50px;
}

.size-70 {
    width: 70px;
    height: 70px;
}

.size-100 {
    width: 100px;
    height: 100px;
}