.team-info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-white);
    color: var(--color-background);
    border: 3px solid var(--color-primary-red);
}