.driver-photo-card {
    position: relative;
    display: inline-block;
}

.driver-photo {
    width: 11rem;
    height: auto;
    border-radius: var(--radius-default);
    border: 4px solid var(--team-color);
}

.driver-number-overlay {
    position: absolute;
    bottom: 0.64rem;
    left: 0.25rem;
    background-color: var(--team-color);
    color: var(--color-white);
    padding: 0.3rem 1.2rem;
    border-bottom-left-radius: 8px;
    border-top-right-radius: var(--radius-default);
    border: 3px solid var(--color-white);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
}