.edit-favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.edit-favorites-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}