.authentication-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.auth-divider {
    background-color: var(--color-primary-red);
    width: 2px;
}

@media (max-width: 956px) {
    .authentication-page {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .auth-divider {
        width: 80%;
        height: 2px;
    }
}